
.zoomInEffect:hover {
    & img {
        transform: scale(1.08) !important;
    }
}
.d-hidden{
    @media (max-width: 1000px) {
        display: none;
    }
}

.d-show{
    display: none;
    @media (max-width: 1000px) {
        display: block;
    }
}

.-mt-20{
  margin-top: -20px;
}
